@model BusStation.Services.Models.RemoveBusStopViewModel


@{
    ViewBag.Title = "RemoveBusStop";
}

<h2 align="center">Удаление автобусных остановок</h2>

<div class="well">
    <label class="col-md-3 control-label">
        <b>Выберите автобусную остановку:</b>
    </label>
    @Html.DropDownListFor(d => d.Id, Model.BusStops, new { @class = "form-control", id = "selectStop" })
</div>

<form class="form-horizontal">
    <div class="well" id="fields">
        @Html.HiddenFor(h => h.Id)
        <div class="form-group">
            @Html.LabelFor(l => l.Name, new { @class = "col-md-1 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(t => t.Name, new { @class = "form-control", disabled="disabled" })
            </div>
            @Html.LabelFor(l => l.Description, new { @class = "col-md-1 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(t => t.Description, new { @class = "form-control", disabled = "disabled" })
            </div>
            @Html.LabelFor(l => l.Latitude, new { @class = "col-md-1 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(t => t.Latitude, new { @class = "form-control", disabled = "disabled" })
            </div>
            @Html.LabelFor(l => l.Longitude, new { @class = "col-md-1 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(t => t.Longitude, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
    </div>

    <button type="button" id="removeBtn" class="btn btn-danger" style="float: right">Удалить</button>
</form>

@section scripts
{
    <script>
        $('#selectStop').on('change',
            function() {
                $.ajax({
                    url: '/Administration/GetBusStopDetails',
                    type: 'POST',
                    data: {
                        id: $('#selectStop').val()
                    },
                    success: function(data) {
                        $('#Id').val(data.Id);
                        $('#Name').val(data.Name);
                        $('#Description').val(data.Description);
                        $('#Latitude').val(data.Latitude);
                        $('#Longitude').val(data.Longitude);
                    }
                });
            });

        $('#selectStop').change();

        $('#removeBtn').on('click', function() {
            alertify.confirm("Потвердите удаление",
                "Внимание удаление автобусной остановке приведет к удалению всех связанных маршрутов и расписаний! Вы действительно хотите удалить остановку?",
                function() { confirmOk() },
                function() { confirmCancel() });
        });

        function confirmOk() {
            $.ajax({
                url: '/Administration/RemoveBusStop',
                type: 'POST',
                data: {
                    Id: $('#Id').val(),
                    Name: $('#Name').val(),
                    Description: $('#Description').val(),
                    Latitude: $('#Latitude').val().replace('.', ','),
                    Longitude: $('#Longitude').val().replace('.', ',')
                },
                success: function(data) {
                    if (data.Successed) {
                        alertify.success('Данные успешно удалены.', 2, function () {
                            location.reload();
                        });
                    } else {
                        alertify.error('Данные не удалены! ' + data.Message);
                    }
                }
            });
        }

        function confirmCancel() {
            alertify.error("Удаление отменено.");
        }

    </script>
}

