@using BusStation.Services.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Каталог производителей автозапчастей</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fancymenu")
    @Styles.Render("~/Content/yandexmap")
    @Styles.Render("~/Content/alertify")
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7af08232-9f57-41c7-987b-2a019f2841fc&lang=ru_RU" type="text/javascript"></script>
</head>
<body>

@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Автобусные пассажирские перевозки", "Index", "Home")
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    
                <li>@Html.ActionLink("Add new event", "AddEvent", "Manage")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>*@


    <div id="wrapper">
        <div class="overlay"></div>

       

        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            
            @if (Request.IsAuthenticated)
            {
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    @Html.ActionLink("Автобусные пассажирские перевозки", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </li>
                <li>
                    <a href="/Account/UserInfo">Личный кабинет</a>
                </li>

                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Администрирование <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @*<li class="dropdown-header">Dropdown heading</li>*@
                            <li><a href="/Administration/AddNewStops">Добавить новые остановки</a></li>
                            <li><a href="/Administration/UpdateBusStops">Редактировать остановки</a></li>
                            <li><a href="/Administration/RemoveBusStop">Удаление остановок</a></li>
                            <li><a href="/Administration/AddRoute">Добавление маршрутов</a></li>
                            @*<li><a href="#">One more separated link</a></li>*@
                        </ul>
                    </li>
                }

                <li>
                    <a href="/Account/LogOff">Выйти</a>
                </li>
            </ul>

            }
            else
            {
                @*@Html.ActionLink("Автобусные пассажирские перевозки", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

                Html.RenderPartial("~/Views/Account/_Login.cshtml", new LoginViewModel());
            }
            
        </nav>

       


            <!-- Sidebar -->
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper" style="padding-top: 20px">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Автобусные пассажирские перевозки</p>
                </footer>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fancymenu")
    @Scripts.Render("~/bundles/alertify")
<script src="https://rawgit.com/RobinHerbots/Inputmask/4.x/dist/jquery.inputmask.bundle.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
